In [1]:
from pyspark.sql import SparkSession

# Initialize Spark Session with MySQL JDBC Driver
spark = SparkSession.builder.master('local[8]').appName('sql-Tranform-demo').config("spark.jars.packages", "mysql:mysql-connector-java:8.0.33").getOrCreate()

#df = spark.read.csv('s3://feb2025-training-bucket/data/5m-Sales-Records.csv', header = True)
#df = spark.read.csv('/mnt/s3_feb2025/data/5m-Sales-Records.csv', header = True)
#df = spark.read.csv('abfss://4afe1d84-eaf5-405f-a28b-03b576203110@onelake.dfs.fabric.microsoft.com/bb6f7778-293e-4c55-8576-e25b56eddb04/Files/5m-Sales-Records.csv', header = True)

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/home/glue_user/spark/jars/log4j-slf4j-impl-2.17.2.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/home/glue_user/spark/jars/slf4j-reload4j-1.7.36.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/home/glue_user/aws-glue-libs/jars/log4j-slf4j-impl-2.17.2.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/home/glue_user/aws-glue-libs/jars/slf4j-reload4j-1.7.36.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See http://www.slf4j.org/codes.html#multiple_bindings for an explanation.
SLF4J: Actual binding is of type [org.apache.logging.slf4j.Log4jLoggerFactory]

:: loading settings :: url = jar:file:/home/glue_user/spark/jars/ivy-2.5.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/glue_user/.ivy2/cache
The jars for the packages stored in: /home/glue_user/.ivy2/jars
mysql#mysql-connector-java added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-0d2d504a-6373-4c20-8848-9e847341718c;1.0
	confs: [default]
	found mysql#mysql-connector-java;8.0.33 in central
	found com.mysql#mysql-connector-j;8.0.33 in central
	found com.google.protobuf#protobuf-java;3.21.9 in central
:: resolution report :: resolve 228ms :: artifacts dl 5ms
	:: modules in use:
	com.google.protobuf#protobuf-java;3.21.9 from central in [default]
	com.mysql#mysql-connector-j;8.0.33 from central in [default]
	mysql#mysql-connector-java;8.0.33 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   3   |   0   |   0   |   0   ||   2   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-0d2d504a-6373-4c20-8848-9e847341718c
	confs: [default]
	0 artifacts copied, 2 already retrieved (0kB/10ms)
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/06 04:12:07 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
#schema_str="Region str,Country string  "


df = spark.read.csv('data/5m-Sales-Records.csv', header = True)
#df = spark.read.csv('s3://feb2025-training-bucket/data/5m-Sales-Records.csv', header = True)
df.printSchema()
df.show(5)
df.count()

root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Item Type: string (nullable = true)
 |-- Sales Channel: string (nullable = true)
 |-- Order Priority: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Units Sold: string (nullable = true)
 |-- Unit Price: string (nullable = true)
 |-- Unit Cost: string (nullable = true)
 |-- Total Revenue: string (nullable = true)
 |-- Total Cost: string (nullable = true)
 |-- Total Profit: string (nullable = true)

+--------------------+-------+---------------+-------------+--------------+----------+---------+---------+----------+----------+---------+-------------+----------+------------+
|              Region|Country|      Item Type|Sales Channel|Order Priority|Order Date| Order ID|Ship Date|Units Sold|Unit Price|Unit Cost|Total Revenue|Total Cost|Total Profit|
+--------------------+-------+---------------+-------------+--------------+----------+---------+---------+----------+----------+---------+-------------+----------+------------+
|Australia and Oce...|  Palau|Office Supplies|       Online|             H|  3/6/2016|517073523|3/26/2016|      2401|    651.21|   524.96|   1563555.21|1260428.96|   303126.25|
|              Europe| Poland|      Beverages|       Online|             L| 4/18/2010|380507028|5/26/2010|      9340|     47.45|    31.79|    443183.00| 296918.60|   146264.40|
|       North America| Canada|         Cereal|       Online|             M|  1/8/2015|504055583|1/31/2015|       103|    205.70|   117.11|     21187.10|  12062.33|     9124.77|
|              Europe|Belarus|         Snacks|       Online|             C| 1/19/2014|954955518|2/27/2014|      1414|    152.58|    97.44|    215748.12| 137780.16|    77967.96|
|Middle East and N...|   Oman|         Cereal|      Offline|             H| 4/26/2019|970755660| 6/2/2019|      7027|    205.70|   117.11|   1445453.90| 822931.97|   622521.93|
+--------------------+-------+---------------+-------------+--------------+----------+---------+---------+----------+----------+---------+-------------+----------+------------+
only showing top 5 rows

5000000

In [3]:
for col_name in df.columns:
    new_col_name = col_name.replace(" ", "_")
    df = df.withColumnRenamed(col_name, new_col_name)
df.count()
df.printSchema()

root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Item_Type: string (nullable = true)
 |-- Sales_Channel: string (nullable = true)
 |-- Order_Priority: string (nullable = true)
 |-- Order_Date: string (nullable = true)
 |-- Order_ID: string (nullable = true)
 |-- Ship_Date: string (nullable = true)
 |-- Units_Sold: string (nullable = true)
 |-- Unit_Price: string (nullable = true)
 |-- Unit_Cost: string (nullable = true)
 |-- Total_Revenue: string (nullable = true)
 |-- Total_Cost: string (nullable = true)
 |-- Total_Profit: string (nullable = true)

In [4]:
# Creating news rows for error records
from pyspark.sql import Row
data = [
    ("Australia and Oceania",None, "Office Supplies", "Online", "H", "3-6-2016", 5555553523, "3/26/2016", -2401, -651.21, 524.96, 15655.21, 1260428.96, 303126.25),
    ("Europe", "Poland", "Beverages", "Online", "L", "12/25/2020", 5555555028, "26/5/2010", -9340, 47.45, -31.79, None, 296918.60, 146264.40)
]

df_new = spark.createDataFrame(data, df.schema)
df_new.show()
df_merged = df.union(df_new)
df_merged.createOrReplaceTempView("salesdata")
df_merged.count()

+--------------------+-------+---------------+-------------+--------------+----------+----------+---------+----------+----------+---------+-------------+----------+------------+
|              Region|Country|      Item_Type|Sales_Channel|Order_Priority|Order_Date|  Order_ID|Ship_Date|Units_Sold|Unit_Price|Unit_Cost|Total_Revenue|Total_Cost|Total_Profit|
+--------------------+-------+---------------+-------------+--------------+----------+----------+---------+----------+----------+---------+-------------+----------+------------+
|Australia and Oce...|   null|Office Supplies|       Online|             H|  3-6-2016|5555553523|3/26/2016|     -2401|   -651.21|   524.96|     15655.21|1260428.96|   303126.25|
|              Europe| Poland|      Beverages|       Online|             L|12/25/2020|5555555028|26/5/2010|     -9340|     47.45|   -31.79|         null|  296918.6|    146264.4|
+--------------------+-------+---------------+-------------+--------------+----------+----------+---------+----------+----------+---------+-------------+----------+------------+

5000002

#### 1. Casting Data Types

In [5]:
df_sql = spark.sql("""
    SELECT 
        Region,
        Country,
        Item_Type,
        Sales_Channel,
        Order_Priority,
        Order_Date,
        CAST(Order_ID AS INT) AS Order_ID,
        Ship_Date,
        CAST(Units_Sold AS INT) AS Units_Sold,
        CAST(Unit_Price AS DOUBLE) AS Unit_Price,
        CAST(Unit_Cost AS DOUBLE) AS Unit_Cost,
        CAST(Total_Revenue AS DOUBLE) AS Total_Revenue,
        CAST(Total_Cost AS DOUBLE) AS Total_Cost,
        CAST(Total_Profit AS DOUBLE) AS Total_Profit
    FROM salesdata
""")
df_sql.show()
df_sql.printSchema()

+--------------------+------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|              Region|     Country|      Item_Type|Sales_Channel|Order_Priority|Order_Date| Order_ID| Ship_Date|Units_Sold|Unit_Price|Unit_Cost|Total_Revenue|Total_Cost|Total_Profit|
+--------------------+------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|Australia and Oce...|       Palau|Office Supplies|       Online|             H|  3/6/2016|517073523| 3/26/2016|      2401|    651.21|   524.96|   1563555.21|1260428.96|   303126.25|
|              Europe|      Poland|      Beverages|       Online|             L| 4/18/2010|380507028| 5/26/2010|      9340|     47.45|    31.79|     443183.0|  296918.6|    146264.4|
|       North America|      Canada|         Cereal|       Online|             M|  1/8/2015|504055583| 1/31/2015|       103|     205.7|   117.11|      21187.1|  12062.33|     9124.77|
|              Europe|     Belarus|         Snacks|       Online|             C| 1/19/2014|954955518| 2/27/2014|      1414|    152.58|    97.44|    215748.12| 137780.16|    77967.96|
|Middle East and N...|        Oman|         Cereal|      Offline|             H| 4/26/2019|970755660|  6/2/2019|      7027|     205.7|   117.11|    1445453.9| 822931.97|   622521.93|
|  Sub-Saharan Africa|Burkina Faso|Office Supplies|       Online|             C|  3/3/2012|309317338|  4/5/2012|      2729|    651.21|   524.96|   1777152.09|1432615.84|   344536.25|
|              Europe|  Montenegro|  Personal Care|       Online|             H|11/24/2012|598814380|12/25/2012|      1337|     81.73|    56.67|    109273.01|  75767.79|    33505.22|
|Middle East and N...|  Azerbaijan|      Cosmetics|      Offline|             M| 3/18/2011|387733113|  5/5/2011|      7699|     437.2|   263.33|    3366002.8|2027377.67|  1338625.13|
|  Sub-Saharan Africa| South Sudan|        Clothes|      Offline|             C| 5/10/2014|994872367| 6/17/2014|      3696|    109.28|    35.84|    403898.88| 132464.64|   271434.24|
|       North America|   Greenland|  Personal Care|       Online|             C| 5/25/2020|659343469| 6/14/2020|      3239|     81.73|    56.67|    264723.47| 183554.13|    81169.34|
|              Europe|    Portugal|      Cosmetics|       Online|             M|11/12/2012|390570247|11/13/2012|      7270|     437.2|   263.33|    3178444.0| 1914409.1|   1264034.9|
|  Sub-Saharan Africa|Sierra Leone|        Clothes|      Offline|             C| 7/25/2019|818289029| 7/27/2019|      8763|    109.28|    35.84|    957620.64| 314065.92|   643554.72|
|              Europe|     Germany|  Personal Care|      Offline|             H|12/25/2010|842548644| 1/24/2011|      7722|     81.73|    56.67|    631119.06| 437605.74|   193513.32|
|              Europe|  Montenegro|  Personal Care|      Offline|             L|  8/3/2012|783710420| 8/10/2012|      6184|     81.73|    56.67|    505418.32| 350447.28|   154971.04|
|                Asia|  Bangladesh|         Cereal|      Offline|             L| 12/3/2013|132448184| 1/15/2014|      3216|     205.7|   117.11|     661531.2| 376625.76|   284905.44|
|  Sub-Saharan Africa|  Mauritius |         Snacks|       Online|             M| 9/22/2016|699748265| 10/3/2016|      9917|    152.58|    97.44|   1513135.86| 966312.48|   546823.38|
|                Asia|  Kyrgyzstan|         Snacks|      Offline|             H|11/22/2018|766909492|12/15/2018|      4416|    152.58|    97.44|    673793.28| 430295.04|   243498.24|
|  Sub-Saharan Africa|  Madagascar|        Clothes|       Online|             C|10/27/2019|935543191|10/29/2019|      6875|    109.28|    35.84|     751300.0|  246400.0|    504900.0|
|              Europe|     Romania|           Meat|       Online|             M| 1/25/2015|977573192|  2/7/2015|      4486|    421.89|   364.69|   1892598.54|1635999.34|    256599.2|
|              Europe|       Malta|  Personal Care|      Offline|             H| 5/21/2012|285235822| 6/22/2012|      6473|     81.73|    56.67|    529038.29| 366824.91|   162213.38|
+--------------------+------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
only showing top 20 rows

root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Item_Type: string (nullable = true)
 |-- Sales_Channel: string (nullable = true)
 |-- Order_Priority: string (nullable = true)
 |-- Order_Date: string (nullable = true)
 |-- Order_ID: integer (nullable = true)
 |-- Ship_Date: string (nullable = true)
 |-- Units_Sold: integer (nullable = true)
 |-- Unit_Price: double (nullable = true)
 |-- Unit_Cost: double (nullable = true)
 |-- Total_Revenue: double (nullable = true)
 |-- Total_Cost: double (nullable = true)
 |-- Total_Profit: double (nullable = true)

#### 2. Select Specific Columns

In [6]:
df_sql = spark.sql("""
    SELECT Region, 
           Country, 
           Total_Revenue, 
           Order_Date, 
           TO_DATE(Order_Date, 'M/d/yyyy') AS Converted_Order_Date,
           DATE_FORMAT(TO_DATE(Order_Date, 'M/d/yyyy'), 'dd-MM-yyyy') AS Formatted_Order_Date
    FROM salesdata
""").show()

+--------------------+------------+-------------+----------+--------------------+--------------------+
|              Region|     Country|Total_Revenue|Order_Date|Converted_Order_Date|Formatted_Order_Date|
+--------------------+------------+-------------+----------+--------------------+--------------------+
|Australia and Oce...|       Palau|   1563555.21|  3/6/2016|          2016-03-06|          06-03-2016|
|              Europe|      Poland|    443183.00| 4/18/2010|          2010-04-18|          18-04-2010|
|       North America|      Canada|     21187.10|  1/8/2015|          2015-01-08|          08-01-2015|
|              Europe|     Belarus|    215748.12| 1/19/2014|          2014-01-19|          19-01-2014|
|Middle East and N...|        Oman|   1445453.90| 4/26/2019|          2019-04-26|          26-04-2019|
|  Sub-Saharan Africa|Burkina Faso|   1777152.09|  3/3/2012|          2012-03-03|          03-03-2012|
|              Europe|  Montenegro|    109273.01|11/24/2012|          2012-11-24|          24-11-2012|
|Middle East and N...|  Azerbaijan|   3366002.80| 3/18/2011|          2011-03-18|          18-03-2011|
|  Sub-Saharan Africa| South Sudan|    403898.88| 5/10/2014|          2014-05-10|          10-05-2014|
|       North America|   Greenland|    264723.47| 5/25/2020|          2020-05-25|          25-05-2020|
|              Europe|    Portugal|   3178444.00|11/12/2012|          2012-11-12|          12-11-2012|
|  Sub-Saharan Africa|Sierra Leone|    957620.64| 7/25/2019|          2019-07-25|          25-07-2019|
|              Europe|     Germany|    631119.06|12/25/2010|          2010-12-25|          25-12-2010|
|              Europe|  Montenegro|    505418.32|  8/3/2012|          2012-08-03|          03-08-2012|
|                Asia|  Bangladesh|    661531.20| 12/3/2013|          2013-12-03|          03-12-2013|
|  Sub-Saharan Africa|  Mauritius |   1513135.86| 9/22/2016|          2016-09-22|          22-09-2016|
|                Asia|  Kyrgyzstan|    673793.28|11/22/2018|          2018-11-22|          22-11-2018|
|  Sub-Saharan Africa|  Madagascar|    751300.00|10/27/2019|          2019-10-27|          27-10-2019|
|              Europe|     Romania|   1892598.54| 1/25/2015|          2015-01-25|          25-01-2015|
|              Europe|       Malta|    529038.29| 5/21/2012|          2012-05-21|          21-05-2012|
+--------------------+------------+-------------+----------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
#^[1-9]{1}[0-9]{0,1}: Matches a 1- or 2-digit month (1-12).
#/: Matches the literal separator.
#[1-9]{1}[0-9]{0,1}: Matches a 1- or 2-digit day (1-31).
#[0-9]{4}$: Matches a 4-digit year (e.g., 2015).

df_sql = spark.sql("""
    SELECT * FROM salesdata where Order_Date not RLIKE '^[1-9]{1}[0-9]{0,1}/[1-9]{1}[0-9]{0,1}/[0-9]{4}$';
""")
df_sql.show()
df_sql.count()

#### 3. Filter Rows (Condition-Based)

In [7]:
spark.sql(""" 
SELECT * FROM salesdata WHERE `Order_ID` LIKE '555555%'
""").show()

+--------------------+-------+---------------+-------------+--------------+----------+----------+---------+----------+----------+---------+-------------+----------+------------+
|              Region|Country|      Item_Type|Sales_Channel|Order_Priority|Order_Date|  Order_ID|Ship_Date|Units_Sold|Unit_Price|Unit_Cost|Total_Revenue|Total_Cost|Total_Profit|
+--------------------+-------+---------------+-------------+--------------+----------+----------+---------+----------+----------+---------+-------------+----------+------------+
|              Europe|Belarus|     Vegetables|       Online|             C| 5/10/2020| 555555284|5/16/2020|         9|    154.06|    90.93|      1386.54|    818.37|      568.17|
|Australia and Oce...|   Fiji|      Household|       Online|             C| 9/25/2012| 555555713|9/27/2012|       136|    668.27|   502.54|     90884.72|  68345.44|    22539.28|
|              Europe|Belarus|     Vegetables|       Online|             C| 5/10/2020| 555555284|5/16/2020|         9|    154.06|    90.93|      1386.54|    818.37|      568.17|
|Australia and Oce...|   Fiji|      Household|       Online|             C| 9/25/2012| 555555713|9/27/2012|       136|    668.27|   502.54|     90884.72|  68345.44|    22539.28|
|Australia and Oce...|   null|Office Supplies|       Online|             H|  3-6-2016|5555553523|3/26/2016|     -2401|   -651.21|   524.96|     15655.21|1260428.96|   303126.25|
|              Europe| Poland|      Beverages|       Online|             L|12/25/2020|5555555028|26/5/2010|     -9340|     47.45|   -31.79|         null|  296918.6|    146264.4|
+--------------------+-------+---------------+-------------+--------------+----------+----------+---------+----------+----------+---------+-------------+----------+------------+

In [ ]:

df_new= spark.sql("SELECT * FROM salesdata WHERE Country = 'Australia'")
print(df_new.count())
df_new.count()
df_new.createOrReplaceTempView("salesdata_new")

In [ ]:
#Range Check
spark.sql(""" 
SELECT * FROM salesdata WHERE Units_Sold < 0    OR Total_Revenue < 0   OR Total_Profit < 0 OR Unit_Price < 0;
""").show()

In [ ]:
#Consistency Check
spark.sql(""" 
SELECT count(*) FROM salesdata WHERE Total_Profit > Total_Revenue
""").show()

In [ ]:
#Date Format Check
spark.sql(""" 
SELECT * FROM salesdata WHERE CAST(Order_Date AS DATE) IS NULL;
""").show()

#### 4. Adding New Columns

In [8]:

spark.sql("SELECT *, 'Completed' AS Status FROM salesdata").show()

+--------------------+------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+---------+
|              Region|     Country|      Item_Type|Sales_Channel|Order_Priority|Order_Date| Order_ID| Ship_Date|Units_Sold|Unit_Price|Unit_Cost|Total_Revenue|Total_Cost|Total_Profit|   Status|
+--------------------+------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+---------+
|Australia and Oce...|       Palau|Office Supplies|       Online|             H|  3/6/2016|517073523| 3/26/2016|      2401|    651.21|   524.96|   1563555.21|1260428.96|   303126.25|Completed|
|              Europe|      Poland|      Beverages|       Online|             L| 4/18/2010|380507028| 5/26/2010|      9340|     47.45|    31.79|    443183.00| 296918.60|   146264.40|Completed|
|       North America|      Canada|         Cereal|       Online|             M|  1/8/2015|504055583| 1/31/2015|       103|    205.70|   117.11|     21187.10|  12062.33|     9124.77|Completed|
|              Europe|     Belarus|         Snacks|       Online|             C| 1/19/2014|954955518| 2/27/2014|      1414|    152.58|    97.44|    215748.12| 137780.16|    77967.96|Completed|
|Middle East and N...|        Oman|         Cereal|      Offline|             H| 4/26/2019|970755660|  6/2/2019|      7027|    205.70|   117.11|   1445453.90| 822931.97|   622521.93|Completed|
|  Sub-Saharan Africa|Burkina Faso|Office Supplies|       Online|             C|  3/3/2012|309317338|  4/5/2012|      2729|    651.21|   524.96|   1777152.09|1432615.84|   344536.25|Completed|
|              Europe|  Montenegro|  Personal Care|       Online|             H|11/24/2012|598814380|12/25/2012|      1337|     81.73|    56.67|    109273.01|  75767.79|    33505.22|Completed|
|Middle East and N...|  Azerbaijan|      Cosmetics|      Offline|             M| 3/18/2011|387733113|  5/5/2011|      7699|    437.20|   263.33|   3366002.80|2027377.67|  1338625.13|Completed|
|  Sub-Saharan Africa| South Sudan|        Clothes|      Offline|             C| 5/10/2014|994872367| 6/17/2014|      3696|    109.28|    35.84|    403898.88| 132464.64|   271434.24|Completed|
|       North America|   Greenland|  Personal Care|       Online|             C| 5/25/2020|659343469| 6/14/2020|      3239|     81.73|    56.67|    264723.47| 183554.13|    81169.34|Completed|
|              Europe|    Portugal|      Cosmetics|       Online|             M|11/12/2012|390570247|11/13/2012|      7270|    437.20|   263.33|   3178444.00|1914409.10|  1264034.90|Completed|
|  Sub-Saharan Africa|Sierra Leone|        Clothes|      Offline|             C| 7/25/2019|818289029| 7/27/2019|      8763|    109.28|    35.84|    957620.64| 314065.92|   643554.72|Completed|
|              Europe|     Germany|  Personal Care|      Offline|             H|12/25/2010|842548644| 1/24/2011|      7722|     81.73|    56.67|    631119.06| 437605.74|   193513.32|Completed|
|              Europe|  Montenegro|  Personal Care|      Offline|             L|  8/3/2012|783710420| 8/10/2012|      6184|     81.73|    56.67|    505418.32| 350447.28|   154971.04|Completed|
|                Asia|  Bangladesh|         Cereal|      Offline|             L| 12/3/2013|132448184| 1/15/2014|      3216|    205.70|   117.11|    661531.20| 376625.76|   284905.44|Completed|
|  Sub-Saharan Africa|  Mauritius |         Snacks|       Online|             M| 9/22/2016|699748265| 10/3/2016|      9917|    152.58|    97.44|   1513135.86| 966312.48|   546823.38|Completed|
|                Asia|  Kyrgyzstan|         Snacks|      Offline|             H|11/22/2018|766909492|12/15/2018|      4416|    152.58|    97.44|    673793.28| 430295.04|   243498.24|Completed|
|  Sub-Saharan Africa|  Madagascar|        Clothes|       Online|             C|10/27/2019|935543191|10/29/2019|      6875|    109.28|    35.84|    751300.00| 246400.00|   504900.00|Completed|
|              Europe|     Romania|           Meat|       Online|             M| 1/25/2015|977573192|  2/7/2015|      4486|    421.89|   364.69|   1892598.54|1635999.34|   256599.20|Completed|
|              Europe|       Malta|  Personal Care|      Offline|             H| 5/21/2012|285235822| 6/22/2012|      6473|     81.73|    56.67|    529038.29| 366824.91|   162213.38|Completed|
+--------------------+------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+---------+
only showing top 20 rows

#### 4. Renaming Columns

In [9]:
spark.sql(""" 
SELECT Region, Country, Total_Revenue AS Revenue FROM salesdata;
""").show()

+--------------------+------------+----------+
|              Region|     Country|   Revenue|
+--------------------+------------+----------+
|Australia and Oce...|       Palau|1563555.21|
|              Europe|      Poland| 443183.00|
|       North America|      Canada|  21187.10|
|              Europe|     Belarus| 215748.12|
|Middle East and N...|        Oman|1445453.90|
|  Sub-Saharan Africa|Burkina Faso|1777152.09|
|              Europe|  Montenegro| 109273.01|
|Middle East and N...|  Azerbaijan|3366002.80|
|  Sub-Saharan Africa| South Sudan| 403898.88|
|       North America|   Greenland| 264723.47|
|              Europe|    Portugal|3178444.00|
|  Sub-Saharan Africa|Sierra Leone| 957620.64|
|              Europe|     Germany| 631119.06|
|              Europe|  Montenegro| 505418.32|
|                Asia|  Bangladesh| 661531.20|
|  Sub-Saharan Africa|  Mauritius |1513135.86|
|                Asia|  Kyrgyzstan| 673793.28|
|  Sub-Saharan Africa|  Madagascar| 751300.00|
|              Europe|     Romania|1892598.54|
|              Europe|       Malta| 529038.29|
+--------------------+------------+----------+
only showing top 20 rows

#### 5. Dropping Columns

In [ ]:
spark.sql(""" 
SELECT Region, Country, Item_Type, Sales_Channel, Order_Date, Total_Revenue FROM salesdata;
""").show()

#### 6. Handling Missing Data

In [10]:
spark.sql(""" 
SELECT * FROM salesdata WHERE Total_Revenue IS  NULL;
""").show()

+------+-------+---------+-------------+--------------+----------+----------+---------+----------+----------+---------+-------------+----------+------------+
|Region|Country|Item_Type|Sales_Channel|Order_Priority|Order_Date|  Order_ID|Ship_Date|Units_Sold|Unit_Price|Unit_Cost|Total_Revenue|Total_Cost|Total_Profit|
+------+-------+---------+-------------+--------------+----------+----------+---------+----------+----------+---------+-------------+----------+------------+
|Europe| Poland|Beverages|       Online|             L|12/25/2020|5555555028|26/5/2010|     -9340|     47.45|   -31.79|         null|  296918.6|    146264.4|
+------+-------+---------+-------------+--------------+----------+----------+---------+----------+----------+---------+-------------+----------+------------+

In [11]:
spark.sql(""" 
SELECT *, COALESCE(Total_Revenue, 0) AS Total_Revenue_Filled FROM salesdata WHERE Total_Revenue IS  NULL;
""").show()

+------+-------+---------+-------------+--------------+----------+----------+---------+----------+----------+---------+-------------+----------+------------+--------------------+
|Region|Country|Item_Type|Sales_Channel|Order_Priority|Order_Date|  Order_ID|Ship_Date|Units_Sold|Unit_Price|Unit_Cost|Total_Revenue|Total_Cost|Total_Profit|Total_Revenue_Filled|
+------+-------+---------+-------------+--------------+----------+----------+---------+----------+----------+---------+-------------+----------+------------+--------------------+
|Europe| Poland|Beverages|       Online|             L|12/25/2020|5555555028|26/5/2010|     -9340|     47.45|   -31.79|         null|  296918.6|    146264.4|                   0|
+------+-------+---------+-------------+--------------+----------+----------+---------+----------+----------+---------+-------------+----------+------------+--------------------+

In [ ]:
#Null Check
spark.sql(""" 
SELECT COUNT(*) AS total_rows, 
COUNT(CASE WHEN Country IS NULL THEN 1 END) AS null_country, 
COUNT(CASE WHEN Order_ID IS NULL THEN 1 END) AS null_order_id, 
COUNT(CASE WHEN Total_Revenue IS NULL THEN 1 END) AS null_total_revenue 
FROM salesdata;
""").show()

#### 7. Aggregation and Grouping

In [12]:
spark.sql(""" 
SELECT Country, SUM(Total_Revenue) AS Total_Revenue_by_Country 
FROM salesdata 
GROUP BY Country
""").show()

+--------------------+------------------------+
|             Country|Total_Revenue_by_Country|
+--------------------+------------------------+
|              Turkey|    3.607858333332002E10|
|              Angola|       3.593869337192E10|
|          East Timor|    3.606127505553001E10|
|             Albania|    3.592686260610001E10|
|           Nicaragua|    3.576133702022002E10|
|               China|    3.601271524843001E10|
|             Somalia|    3.598757324061004E10|
|             Croatia|    3.607999540734997...|
|             Andorra|    3.597381030885998...|
|              Norway|       3.583466901127E10|
|               Niger|       3.598542696423E10|
|             Ireland|    3.607509419343001...|
|       Liechtenstein|    3.608427412681998...|
|           Swaziland|    3.580642420097002E10|
|Democratic Republ...|    3.589081698501999E10|
|              Bhutan|    3.609033808057001...|
|              Israel|    3.601851570353004E10|
|            Tunisia |    3.581875832232997E10|
|              Mexico|    3.605792129497999...|
|             Armenia|    3.601612209510999E10|
+--------------------+------------------------+
only showing top 20 rows

In [13]:
spark.sql(""" 
SELECT Country, SUM(Total_Revenue) AS Total_Revenue_by_Country 
FROM salesdata 
GROUP BY Country
ORDER BY Total_Revenue_by_Country DESC;
""").show()

+--------------------+------------------------+
|             Country|Total_Revenue_by_Country|
+--------------------+------------------------+
|              Rwanda|    3.634388914491003...|
|              Canada|    3.621494398565996E10|
|         Philippines|    3.620237518003002E10|
|    Marshall Islands|    3.615366341424999E10|
|              Panama|    3.613639346959999E10|
|             Lesotho|       3.613016405397E10|
|             Liberia|    3.612976405918999E10|
|              Taiwan|    3.612489163990002...|
|            Maldives|    3.612321549975999E10|
|Saint Kitts and N...|    3.611518957761001...|
| Trinidad and Tobago|       3.611428475709E10|
|          Kazakhstan|        3.61139615008E10|
|            Cameroon|    3.611375133907999E10|
|               Japan|    3.611290325129998E10|
|         Seychelles |    3.611215496095000...|
|               Tonga|    3.611178305528001...|
|              Serbia|    3.610944077914001E10|
|              Monaco|    3.610605266116003E10|
|          Costa Rica|    3.610160880999999E10|
|              Belize|    3.609807695073998E10|
+--------------------+------------------------+
only showing top 20 rows

In [ ]:
#Duplicate Check
spark.sql(""" 
SELECT Order_ID, COUNT(*) AS order_count FROM salesdata GROUP BY Order_ID HAVING order_count > 1;
""").show()

#### 8. Sorting

In [ ]:
spark.sql(""" 
SELECT * FROM salesdata where Country ='China' ORDER BY Total_Revenue DESC;
""").show()

#### 9. Distinct Values

In [14]:
spark.sql(""" 
SELECT DISTINCT Country FROM salesdata;
""").show()

+--------------------+
|             Country|
+--------------------+
|              Turkey|
|              Angola|
|          East Timor|
|             Albania|
|           Nicaragua|
|               China|
|             Somalia|
|             Croatia|
|             Andorra|
|              Norway|
|               Niger|
|             Ireland|
|       Liechtenstein|
|           Swaziland|
|Democratic Republ...|
|              Bhutan|
|              Israel|
|            Tunisia |
|              Mexico|
|             Armenia|
+--------------------+
only showing top 20 rows

#### 10. Joining DataFrames

In [15]:
#spark.read.csv('s3://feb2025-training-bucket/data/customers.csv/000.csv', header = True, inferSchema = True).createOrReplaceTempView("customers")
#spark.read.csv('s3://feb2025-training-bucket/data/customerorder_04102024.csv/customerorder.csv', header = True, inferSchema = True).createOrReplaceTempView("customerorder")

spark.read.csv('data/customers.csv', header = True, inferSchema = True).createOrReplaceTempView("customers")
spark.read.csv('data/customerorder_04102024.csv', header = True, inferSchema = True).createOrReplaceTempView("customerorder")

In [16]:

df=spark.sql(""" SELECT * FROM salesdata a JOIN customerorder b ON a.Order_ID = b.Order_ID 
                JOIN customers c ON b.customer_id = c.customer_id """)

df.show(2)

25/03/06 04:42:59 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+--------------------+-------+---------+-------------+--------------+----------+---------+---------+----------+----------+---------+-------------+----------+------------+---------+-----------+-----------+------+--------+--------------------+-----+-------+--------+-----------+------+----+-------+--------+------------+----------+--------------------+----------+-------------+---------------+---------------+
|              Region|Country|Item_Type|Sales_Channel|Order_Priority|Order_Date| Order_ID|Ship_Date|Units_Sold|Unit_Price|Unit_Cost|Total_Revenue|Total_Cost|Total_Profit| Order_ID|customer_id|customer_id|tax_id|tax_code|       customer_name|state|   city|postcode|     street|number|unit| region|district|         lon|       lat|     ship_to_address|valid_from|     valid_to|units_purchased|loyalty_segment|
+--------------------+-------+---------+-------------+--------------+----------+---------+---------+----------+----------+---------+-------------+----------+------------+---------+-----------+-----------+------+--------+--------------------+-----+-------+--------+-----------+------+----+-------+--------+------------+----------+--------------------+----------+-------------+---------------+---------------+
|Australia and Oce...| Tuvalu|Baby Food|      Offline|             H| 7/28/2010|669165933|8/27/2010|      9925|    255.28|   159.42|   2533654.00|1582243.50|   951410.50|669165933|   30585978|   30585978|  null|    null|STEPHENS,  GERALD...|   OR|ADDRESS|       0|   NO SITUS|  null|null|   null|    null|-122.1055158| 45.374317|OR, 0, NO SITUS, nan|1523100473|         null|           18.0|              3|
|Australia and Oce...| Tuvalu|Baby Food|      Offline|             H| 7/28/2010|669165933|8/27/2010|      9925|    255.28|   159.42|   2533654.00|1582243.50|   951410.50|669165933|   11123757|   11123757|  null|    null|     SMITH,  SHIRLEY|   IN| BREMEN| 46506.0|N CENTER ST| 521.0|null|Indiana|    50.0| -86.1465825|41.4507625|IN, 46506.0, N CE...|1532824233|1.548137353E9|           34.0|              3|
+--------------------+-------+---------+-------------+--------------+----------+---------+---------+----------+----------+---------+-------------+----------+------------+---------+-----------+-----------+------+--------+--------------------+-----+-------+--------+-----------+------+----+-------+--------+------------+----------+--------------------+----------+-------------+---------------+---------------+
only showing top 2 rows

In [ ]:
df.count()

#### 11. Pivoting

In [17]:
#convert row to column

spark.sql(""" SELECT Country,Item_Type,
       SUM(CASE WHEN Item_Type = 'Office Supplies' THEN Total_Revenue ELSE 0 END) AS Office_Supplies_Revenue,
       SUM(CASE WHEN Item_Type = 'Beverages' THEN Total_Revenue ELSE 0 END) AS Beverages_Revenue
FROM salesdata
GROUP BY Country,Item_Type """).show()

+--------------------+---------------+-----------------------+-----------------+
|             Country|      Item_Type|Office_Supplies_Revenue|Beverages_Revenue|
+--------------------+---------------+-----------------------+-----------------+
|           Swaziland|      Beverages|                    0.0|    5.314594545E8|
|         South Korea|  Personal Care|                    0.0|              0.0|
|         Afghanistan|      Cosmetics|                    0.0|              0.0|
|              Panama|      Household|                    0.0|              0.0|
|            Barbados|      Baby Food|                    0.0|              0.0|
|           Macedonia|         Snacks|                    0.0|              0.0|
|Saint Vincent and...|        Clothes|                    0.0|              0.0|
|             Germany|         Fruits|                    0.0|              0.0|
|       Liechtenstein|      Cosmetics|                    0.0|              0.0|
|                Togo|      Household|                    0.0|              0.0|
|               Nepal|Office Supplies|        7.31863856283E9|              0.0|
|              Rwanda|      Household|                    0.0|              0.0|
|             Nigeria|      Baby Food|                    0.0|              0.0|
|          Montenegro|      Baby Food|                    0.0|              0.0|
|               India|      Baby Food|                    0.0|              0.0|
|Federated States ...|           Meat|                    0.0|              0.0|
|             Belgium|     Vegetables|                    0.0|              0.0|
|             Croatia|      Cosmetics|                    0.0|              0.0|
|          Azerbaijan|         Cereal|                    0.0|              0.0|
|               Kenya|           Meat|                    0.0|              0.0|
+--------------------+---------------+-----------------------+-----------------+
only showing top 20 rows

#### 12. Window Functions

In [22]:
result_df = spark.sql("""
SELECT Country, Order_Id, Total_Revenue, Units_Sold,
       DENSE_RANK() OVER (ORDER BY Total_Revenue DESC, Units_Sold DESC) AS revenue_units_rank
FROM salesdata
""")
result_df.show(100)

25/03/06 04:49:34 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/03/06 04:49:34 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/03/06 04:49:34 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/03/06 04:49:34 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/03/06 04:49:34 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+--------------------+---------+-------------+----------+------------------+
|             Country| Order_Id|Total_Revenue|Units_Sold|revenue_units_rank|
+--------------------+---------+-------------+----------+------------------+
|          San Marino|243459451|    999931.76|      3917|                 1|
|             Burundi|121096217|    999931.76|      3917|                 1|
|        Sierra Leone|610549151|    999931.76|      3917|                 1|
|            Slovenia|531643283|    999931.76|      3917|                 1|
|             Albania|365822684|    999931.76|      3917|                 1|
|             Belarus|654006516|    999931.76|      3917|                 1|
|Central African R...|409280049|    999931.76|      3917|                 1|
|              Uganda|286916816|    999931.76|      3917|                 1|
|              Angola|732912385|    999931.76|      3917|                 1|
|             Myanmar|776369750|    999931.76|      3917|                 1|
|           Singapore|164553582|    999931.76|      3917|                 1|
|            Malaysia|488185918|    999931.76|      3917|                 1|
|              Poland|855275619|    999931.76|      3917|                 1|
|        Sierra Leone|610549151|    999931.76|      3917|                 1|
|               Sudan|898732984|    999931.76|      3917|                 1|
|             Albania|365822684|    999931.76|      3917|                 1|
|          San Marino|243459451|    999931.76|      3917|                 1|
|             Belarus|654006516|    999931.76|      3917|                 1|
|             Myanmar|776369750|    999931.76|      3917|                 1|
|           Singapore|164553582|    999931.76|      3917|                 1|
|            Malaysia|488185918|    999931.76|      3917|                 1|
|              Poland|855275619|    999931.76|      3917|                 1|
|            Slovenia|531643283|    999931.76|      3917|                 1|
|             Burundi|121096217|    999931.76|      3917|                 1|
|               Sudan|898732984|    999931.76|      3917|                 1|
|             Albania|365822684|    999931.76|      3917|                 1|
|          San Marino|243459451|    999931.76|      3917|                 1|
|             Belarus|654006516|    999931.76|      3917|                 1|
|             Myanmar|776369750|    999931.76|      3917|                 1|
|Central African R...|409280049|    999931.76|      3917|                 1|
|              Uganda|286916816|    999931.76|      3917|                 1|
|              Angola|732912385|    999931.76|      3917|                 1|
|             Algeria|118647038|    999912.00|      9150|                 2|
|               Ghana|651557338|    999912.00|      9150|                 2|
|         El Salvador|450288236|    999912.00|      9150|                 2|
|                Cuba|162104403|    999912.00|      9150|                 2|
|              Latvia|572651469|    999912.00|      9150|                 2|
|               Nauru|241010272|    999912.00|      9150|                 2|
|            Ethiopia|363373506|    999912.00|      9150|                 2|
|             Iceland|284467637|    999912.00|      9150|                 2|
|            Barbados|773920571|    999912.00|      9150|                 2|
|              Bhutan|205561769|    999912.00|      9150|                 2|
|             Germany|896283805|    999912.00|      9150|                 2|
|              Malawi|327925002|    999912.00|      9150|                 2|
|             Lesotho|939741170|    999912.00|      9150|                 2|
|                Iran|406830871|    999912.00|      9150|                 2|
|         El Salvador|450288236|    999912.00|      9150|                 2|
|              Jordan|695014703|    999912.00|      9150|                 2|
|             Iceland|284467637|    999912.00|      9150|                 2|
|            Barbados|773920571|    999912.00|      9150|                 2|
|              Bhutan|205561769|    999912.00|      9150|                 2|
|             Lesotho|939741170|    999912.00|      9150|                 2|
|                Iran|406830871|    999912.00|      9150|                 2|
|               Tonga|817377936|    999912.00|      9150|                 2|
|    Papua New Guinea|529194104|    999912.00|      9150|                 2|
|             Germany|896283805|    999912.00|      9150|                 2|
|               Ghana|651557338|    999912.00|      9150|                 2|
|              Jordan|695014703|    999912.00|      9150|                 2|
|              Mexico|485736739|    999912.00|      9150|                 2|
|            Ethiopia|363373506|    999912.00|      9150|                 2|
|                Cuba|162104403|    999912.00|      9150|                 2|
|              Latvia|572651469|    999912.00|      9150|                 2|
|               Nauru|241010272|    999912.00|      9150|                 2|
|            Barbados|773920571|    999912.00|      9150|                 2|
|              Bhutan|205561769|    999912.00|      9150|                 2|
|             Lesotho|939741170|    999912.00|      9150|                 2|
|                Iran|406830871|    999912.00|      9150|                 2|
|               Tonga|817377936|    999912.00|      9150|                 2|
|    Papua New Guinea|529194104|    999912.00|      9150|                 2|
|         El Salvador|450288236|    999912.00|      9150|                 2|
|             Germany|896283805|    999912.00|      9150|                 2|
|              Malawi|327925002|    999912.00|      9150|                 2|
|             Algeria|118647038|    999912.00|      9150|                 2|
|               Ghana|651557338|    999912.00|      9150|                 2|
|             Estonia|944984996|     99991.20|       915|                 3|
|             Iceland|621352660|     99991.20|       915|                 3|
|             Algeria|455532062|     99991.20|       915|                 3|
|                Fiji|289711463|     99991.20|       915|                 3|
|             Germany|333168828|     99991.20|       915|                 3|
|                Cuba|498989427|     99991.20|       915|                 3|
|               Ghana|988442361|     99991.20|       915|                 3|
|       Cote d'Ivoire|412074697|     99991.20|       915|                 3|
|          Uzbekistan|167348229|     99991.20|       915|                 3|
|              Mexico|822621762|     99991.20|       915|                 3|
|              Cyprus|656801164|     99991.20|       915|                 3|
|       Cote d'Ivoire|412074697|     99991.20|       915|                 3|
|                Cuba|498989427|     99991.20|       915|                 3|
|               Ghana|988442361|     99991.20|       915|                 3|
|             Iceland|621352660|     99991.20|       915|                 3|
|             Algeria|455532062|     99991.20|       915|                 3|
|Federated States ...|577895295|     99991.20|       915|                 3|
|Federated States ...|577895295|     99991.20|       915|                 3|
|               Kenya|376626193|     99991.20|       915|                 3|
|         The Bahamas|210805594|     99991.20|       915|                 3|
|    Papua New Guinea|866079127|     99991.20|       915|                 3|
|               Egypt|743715894|     99991.20|       915|                 3|
|                Fiji|289711463|     99991.20|       915|                 3|
|            Ethiopia|700258529|     99991.20|       915|                 3|
|             Germany|333168828|     99991.20|       915|                 3|
|             Estonia|944984996|     99991.20|       915|                 3|
+--------------------+---------+-------------+----------+------------------+
only showing top 100 rows

####  Chaining Transformations

In [ ]:
# selects data, adds new columns, filters, and aggregates the data
result_df = spark.sql("""
    SELECT Country,
           SUM(Total_Revenue) AS Total_Revenue_by_Country,
           AVG(Total_Profit / Units_Sold) AS Avg_Profit_Per_Unit
    FROM salesdata
    WHERE Sales_Channel = 'Online'
    GROUP BY Country
    ORDER BY Total_Revenue_by_Country DESC
""")

# Show the result
result_df.show()

### Data Quality Checks

In [23]:
error_records_df = spark.sql("""
SELECT *
FROM (
    SELECT *,
        CASE 
            WHEN Order_ID IS NULL THEN 'Order_ID is NULL'
            WHEN Country IS NULL THEN 'Country is NULL'
            WHEN Units_Sold IS NULL THEN 'Units_Sold is NULL'
            WHEN Units_Sold < 0 THEN 'Units_Sold is negative'
            WHEN Total_Revenue < 0 THEN 'Total_Revenue is negative'
            WHEN Total_Profit < 0 THEN 'Total_Profit is negative'
            WHEN Order_Date IS NULL THEN 'Order_Date is NULL'
            WHEN Ship_Date IS NULL THEN 'Ship_Date is NULL'
            WHEN Order_Date NOT RLIKE '^[1-9]{1}[0-9]{0,1}/[1-9]{1}[0-9]{0,1}/[0-9]{4}$' THEN 'Order_Date has invalid format (expected M/d/yyyy)'
            WHEN Ship_Date NOT  RLIKE '^[1-9]{1}[0-9]{0,1}/[1-9]{1}[0-9]{0,1}/[0-9]{4}$' THEN 'Ship_Date has invalid format (expected M/d/yyyy)'
           -- WHEN  Ship_Date < Order_Date THEN 'Ship_Date before Order_Date'
            ELSE NULL
        END AS error_flag
    FROM salesdata
) AS temp
WHERE error_flag IS NOT NULL;
""")
error_records_df.show()

+--------------------+-------+---------------+-------------+--------------+----------+----------+---------+----------+----------+---------+-------------+----------+------------+--------------------+
|              Region|Country|      Item_Type|Sales_Channel|Order_Priority|Order_Date|  Order_ID|Ship_Date|Units_Sold|Unit_Price|Unit_Cost|Total_Revenue|Total_Cost|Total_Profit|          error_flag|
+--------------------+-------+---------------+-------------+--------------+----------+----------+---------+----------+----------+---------+-------------+----------+------------+--------------------+
|Australia and Oce...|   null|Office Supplies|       Online|             H|  3-6-2016|5555553523|3/26/2016|     -2401|   -651.21|   524.96|     15655.21|1260428.96|   303126.25|     Country is NULL|
|              Europe| Poland|      Beverages|       Online|             L|12/25/2020|5555555028|26/5/2010|     -9340|     47.45|   -31.79|         null|  296918.6|    146264.4|Units_Sold is neg...|
+--------------------+-------+---------------+-------------+--------------+----------+----------+---------+----------+----------+---------+-------------+----------+------------+--------------------+

In [24]:
valid_records = spark.sql("""
SELECT *
FROM (
    SELECT *,
        CASE 
            WHEN Order_ID IS NULL THEN 'Order_ID is NULL'
            WHEN Country IS NULL THEN 'Country is NULL'
            WHEN Units_Sold IS NULL THEN 'Units_Sold is NULL'
            WHEN Units_Sold < 0 THEN 'Units_Sold is negative'
            WHEN Total_Revenue < 0 THEN 'Total_Revenue is negative'
            WHEN Total_Profit < 0 THEN 'Total_Profit is negative'
            WHEN Order_Date IS NULL THEN 'Order_Date is NULL'
            WHEN Ship_Date IS NULL THEN 'Ship_Date is NULL'
            WHEN Order_Date NOT RLIKE '^[1-9]{1}[0-9]{0,1}/[1-9]{1}[0-9]{0,1}/[0-9]{4}$' THEN 'Order_Date has invalid format (expected M/d/yyyy)'
            WHEN Ship_Date NOT  RLIKE '^[1-9]{1}[0-9]{0,1}/[1-9]{1}[0-9]{0,1}/[0-9]{4}$' THEN 'Ship_Date has invalid format (expected M/d/yyyy)'
           --WHEN  Ship_Date < Order_Date THEN 'Ship_Date before Order_Date'    
            ELSE NULL
        END AS error_flag
    FROM salesdata
) AS temp
WHERE error_flag IS NULL;
""")
valid_records.show()
valid_records.createOrReplaceTempView("valid_salesdata")

+--------------------+------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+----------+
|              Region|     Country|      Item_Type|Sales_Channel|Order_Priority|Order_Date| Order_ID| Ship_Date|Units_Sold|Unit_Price|Unit_Cost|Total_Revenue|Total_Cost|Total_Profit|error_flag|
+--------------------+------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+----------+
|Australia and Oce...|       Palau|Office Supplies|       Online|             H|  3/6/2016|517073523| 3/26/2016|      2401|    651.21|   524.96|   1563555.21|1260428.96|   303126.25|      null|
|              Europe|      Poland|      Beverages|       Online|             L| 4/18/2010|380507028| 5/26/2010|      9340|     47.45|    31.79|    443183.00| 296918.60|   146264.40|      null|
|       North America|      Canada|         Cereal|       Online|             M|  1/8/2015|504055583| 1/31/2015|       103|    205.70|   117.11|     21187.10|  12062.33|     9124.77|      null|
|              Europe|     Belarus|         Snacks|       Online|             C| 1/19/2014|954955518| 2/27/2014|      1414|    152.58|    97.44|    215748.12| 137780.16|    77967.96|      null|
|Middle East and N...|        Oman|         Cereal|      Offline|             H| 4/26/2019|970755660|  6/2/2019|      7027|    205.70|   117.11|   1445453.90| 822931.97|   622521.93|      null|
|  Sub-Saharan Africa|Burkina Faso|Office Supplies|       Online|             C|  3/3/2012|309317338|  4/5/2012|      2729|    651.21|   524.96|   1777152.09|1432615.84|   344536.25|      null|
|              Europe|  Montenegro|  Personal Care|       Online|             H|11/24/2012|598814380|12/25/2012|      1337|     81.73|    56.67|    109273.01|  75767.79|    33505.22|      null|
|Middle East and N...|  Azerbaijan|      Cosmetics|      Offline|             M| 3/18/2011|387733113|  5/5/2011|      7699|    437.20|   263.33|   3366002.80|2027377.67|  1338625.13|      null|
|  Sub-Saharan Africa| South Sudan|        Clothes|      Offline|             C| 5/10/2014|994872367| 6/17/2014|      3696|    109.28|    35.84|    403898.88| 132464.64|   271434.24|      null|
|       North America|   Greenland|  Personal Care|       Online|             C| 5/25/2020|659343469| 6/14/2020|      3239|     81.73|    56.67|    264723.47| 183554.13|    81169.34|      null|
|              Europe|    Portugal|      Cosmetics|       Online|             M|11/12/2012|390570247|11/13/2012|      7270|    437.20|   263.33|   3178444.00|1914409.10|  1264034.90|      null|
|  Sub-Saharan Africa|Sierra Leone|        Clothes|      Offline|             C| 7/25/2019|818289029| 7/27/2019|      8763|    109.28|    35.84|    957620.64| 314065.92|   643554.72|      null|
|              Europe|     Germany|  Personal Care|      Offline|             H|12/25/2010|842548644| 1/24/2011|      7722|     81.73|    56.67|    631119.06| 437605.74|   193513.32|      null|
|              Europe|  Montenegro|  Personal Care|      Offline|             L|  8/3/2012|783710420| 8/10/2012|      6184|     81.73|    56.67|    505418.32| 350447.28|   154971.04|      null|
|                Asia|  Bangladesh|         Cereal|      Offline|             L| 12/3/2013|132448184| 1/15/2014|      3216|    205.70|   117.11|    661531.20| 376625.76|   284905.44|      null|
|  Sub-Saharan Africa|  Mauritius |         Snacks|       Online|             M| 9/22/2016|699748265| 10/3/2016|      9917|    152.58|    97.44|   1513135.86| 966312.48|   546823.38|      null|
|                Asia|  Kyrgyzstan|         Snacks|      Offline|             H|11/22/2018|766909492|12/15/2018|      4416|    152.58|    97.44|    673793.28| 430295.04|   243498.24|      null|
|  Sub-Saharan Africa|  Madagascar|        Clothes|       Online|             C|10/27/2019|935543191|10/29/2019|      6875|    109.28|    35.84|    751300.00| 246400.00|   504900.00|      null|
|              Europe|     Romania|           Meat|       Online|             M| 1/25/2015|977573192|  2/7/2015|      4486|    421.89|   364.69|   1892598.54|1635999.34|   256599.20|      null|
|              Europe|       Malta|  Personal Care|      Offline|             H| 5/21/2012|285235822| 6/22/2012|      6473|     81.73|    56.67|    529038.29| 366824.91|   162213.38|      null|
+--------------------+------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+----------+
only showing top 20 rows

In [26]:
#  valid records
print(valid_records.count())
#  error records
print(error_records_df.count())

# Optionally, write error records to a CSV file for later review
error_records_df.write.csv("error_records.csv", header=True)

5000000

2

In [27]:
salesdata_aggregated_df  = spark.sql(""" 
SELECT
    Region,
    Country,
    Item_Type,
    Sales_Channel,
    Order_Priority,
    SUM(Units_Sold) AS Total_Units_Sold,
    SUM(Total_Revenue) AS Total_Revenue,
    SUM(Total_Cost) AS Total_Cost,
    SUM(Total_Profit) AS Total_Profit
FROM valid_salesdata
GROUP BY Region, Country, Item_Type, Sales_Channel, Order_Priority;
""")
salesdata_aggregated_df.show()
salesdata_aggregated_df.count()

+--------------------+--------------------+---------------+-------------+--------------+----------------+--------------------+--------------------+--------------------+
|              Region|             Country|      Item_Type|Sales_Channel|Order_Priority|Total_Units_Sold|       Total_Revenue|          Total_Cost|        Total_Profit|
+--------------------+--------------------+---------------+-------------+--------------+----------------+--------------------+--------------------+--------------------+
|  Sub-Saharan Africa|              Uganda|  Personal Care|      Offline|             L|       1357772.0|1.1097070555999999E8|       7.694493924E7|       3.402576632E7|
|Australia and Oce...|               Tonga|      Cosmetics|      Offline|             C|       1309658.0| 5.725824776000001E8|3.4487224114000005E8|2.2771023646000004E8|
|                Asia|              Taiwan|Office Supplies|       Online|             H|       1783481.0|     1.16142066201E9| 9.362561857599999E8|      2.2516447625E8|
|Australia and Oce...|    Papua New Guinea|      Cosmetics|      Offline|             M|       1497947.0| 6.549024283999999E8|      3.9445438351E8|2.6044804489000002E8|
|                Asia|          Kyrgyzstan|      Household|       Online|             M|       1806590.0|1.2072898993000002E9| 9.078837385999999E8|       2.994061607E8|
|Middle East and N...|United Arab Emirates|Office Supplies|       Online|             L|       1198981.0| 7.807884170100001E8|      6.2941706576E8|      1.5137135125E8|
|Australia and Oce...|              Tuvalu|         Snacks|       Online|             M|       1048945.0|       1.600480281E8|1.0220920080000001E8|5.7838827300000004E7|
|  Sub-Saharan Africa|             Nigeria|     Vegetables|       Online|             M|       1710938.0|2.6358710827999994E8|1.5557559233999997E8|1.0801151594000001E8|
|Central America a...|               Haiti|         Snacks|      Offline|             L|        971448.0|      1.4822353584E8|       9.465789312E7| 5.356564271999999E7|
|              Europe|         Netherlands|         Snacks|       Online|             L|        836673.0|      1.2765956634E8|       8.152541712E7|       4.613414922E7|
|                Asia|                Laos|         Snacks|       Online|             C|       1371922.0|      2.0932785876E8|      1.3368007968E8|       7.564777908E7|
|              Europe|             Romania|         Fruits|      Offline|             L|       1536130.0|1.4332092899999999E7|        1.06300196E7|           3702073.3|
|Central America a...|            Honduras|      Cosmetics|      Offline|             L|       1262044.0|       5.517656368E8|3.3233404652000004E8|2.1943159028000003E8|
|  Sub-Saharan Africa|                Mali|  Personal Care|      Offline|             L|        914971.0| 7.478057982999998E7|       5.185140657E7|2.2929173259999998E7|
|              Europe|         Netherlands|        Clothes|      Offline|             C|        946130.0|1.0339308639999999E8|3.3909299199999996E7|        6.94837872E7|
|                Asia|            Mongolia|      Baby Food|       Online|             C|        991888.0|      2.5320916864E8|      1.5812678496E8|       9.508238368E7|
|       North America|           Greenland|      Beverages|       Online|             L|       1276573.0|6.0573388849999994E7|       4.058225567E7|       1.999113318E7|
|              Europe|             Austria|      Baby Food|      Offline|             H|       1246395.0|3.1817971559999996E8|1.9870029089999998E8|1.1947942469999999E8|
|  Sub-Saharan Africa|             Namibia|           Meat|      Offline|             C|       1893593.0| 7.988879507700001E8|      6.9057443117E8|1.0831351960000001E8|
|                Asia|            Mongolia|  Personal Care|      Offline|             L|       1910571.0|      1.5615096783E8|      1.0827205857E8|       4.787890926E7|
+--------------------+--------------------+---------------+-------------+--------------+----------------+--------------------+--------------------+--------------------+
only showing top 20 rows

17760

In [30]:
salesdata_aggregated_df.printSchema()

root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Item_Type: string (nullable = true)
 |-- Sales_Channel: string (nullable = true)
 |-- Order_Priority: string (nullable = true)
 |-- Total_Units_Sold: double (nullable = true)
 |-- Total_Revenue: double (nullable = true)
 |-- Total_Cost: double (nullable = true)
 |-- Total_Profit: double (nullable = true)

In [31]:
MYSQL_URL = "jdbc:mysql://172.17.0.3:3306/demo1"
MYSQL_PROPERTIES = {
    'user': 'root',
    'password': '*7E567C9DC06217268D72D52BABCA14EAB8993ACF',
    'driver': 'com.mysql.jdbc.Driver',
    'allowPublicKeyRetrieval':'true',
    'useSSL':'false'
}
salesdata_aggregated_df.write.jdbc(url=MYSQL_URL, table="aggregatedsalesdata2", mode="append", properties=MYSQL_PROPERTIES)