Create a DataFrame:
Create a Spark DataFrame from a list of tuples containing employee details: (employee_id, name, department, salary).

Schema & Basic Operations:

    Show the schema and first 5 rows.
    Count the number of rows.
    Get distinct department names.

Filtering Data:

    Find all employees in the "IT" department.
    Find employees earning more than $50,000.
    Find employees whose name starts with "A".

Column Operations:

    Add a new column called "bonus" which is 10% of salary.
    Rename the "salary" column to "base_salary".
    Drop the "bonus" column.

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("dataFrameBeginner").getOrCreate()

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/home/glue_user/spark/jars/log4j-slf4j-impl-2.17.2.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/home/glue_user/spark/jars/slf4j-reload4j-1.7.36.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/home/glue_user/aws-glue-libs/jars/log4j-slf4j-impl-2.17.2.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/home/glue_user/aws-glue-libs/jars/slf4j-reload4j-1.7.36.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See http://www.slf4j.org/codes.html#multiple_bindings for an explanation.
SLF4J: Actual binding is of type [org.apache.logging.slf4j.Log4jLoggerFactory]
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [ ]:
#Create a DataFrame
#(employee_id, name, department, salary).

In [3]:
columns = ["employee_id", "name", "department", "salary"]
employee_data =  [
    (1, "Alice", "IT", 75000),
    (2, "Bob", "HR", 68000),
    (3, "Charlie", "Finance", 82000),
    (4, "David", "Marketing", 72000),
    (5, "Emma", "IT", 90000),
    (6, "Frank", "HR", 56000),
    (7, "Grace", "Finance", 95000),
    (8, "Hannah", "Marketing", 67000),
    (9, "Ian", "Operations", 87000),
    (10, "Jack", "IT", 99000),
    (11, "Kate", "HR", 74000),
    (12, "Liam", "Finance", 81000),
    (13, "Mia", "Marketing", 71000),
    (14, "Nathan", "IT", 94000),
    (15, "Olivia", "HR", 65000),
    (16, "Paul", "Finance", 88000),
    (17, "Quinn", "Marketing", 79000),
    (18, "Ryan", "Operations", 85000),
    (19, "Sophia", "IT", 92000),
    (20, "Tom", "HR", 70000),
    (21, "Uma", "Finance", 93000),
    (22, "Victor", "Marketing", 69000),
    (23, "Wendy", "Operations", 89000),
    (24, "Xander", "IT", 97000),
    (25, "Yvonne", "HR", 73000),
    (26, "Zach", "Finance", 76000),
    (27, "Adam", "Marketing", 78000),
    (28, "Bella", "Operations", 81000),
    (29, "Carter", "IT", 85000),
    (30, "Diana", "HR", 66000),
    (31, "Ethan", "Finance", 87000),
    (32, "Fiona", "Marketing", 73000),
    (33, "George", "Operations", 84000),
    (34, "Harper", "IT", 95000),
    (35, "Isaac", "HR", 69000),
    (36, "Julia", "Finance", 88000),
    (37, "Kevin", "Marketing", 72000),
    (38, "Laura", "Operations", 91000),
    (39, "Michael", "IT", 98000),
    (40, "Nina", "HR", 64000),
    (41, "Oscar", "Finance", 86000),
    (42, "Penny", "Marketing", 75000),
    (43, "Quincy", "Operations", 82000),
    (44, "Rachel", "IT", 93000),
    (45, "Samuel", "HR", 68000),
    (46, "Tina", "Finance", 90000),
    (47, "Umar", "Marketing", 77000),
    (48, "Violet", "Operations", 83000),
    (49, "Will", "IT", 97000),
    (50, "Xena", "HR", 72000)
]

In [63]:
df_employee_data = spark.createDataFrame(employee_data,columns)

In [5]:
df_employee_data.show()

+-----------+-------+----------+------+
|employee_id|   name|department|salary|
+-----------+-------+----------+------+
|          1|  Alice|        IT| 75000|
|          2|    Bob|        HR| 68000|
|          3|Charlie|   Finance| 82000|
|          4|  David| Marketing| 72000|
|          5|   Emma|        IT| 90000|
|          6|  Frank|        HR| 56000|
|          7|  Grace|   Finance| 95000|
|          8| Hannah| Marketing| 67000|
|          9|    Ian|Operations| 87000|
|         10|   Jack|        IT| 99000|
|         11|   Kate|        HR| 74000|
|         12|   Liam|   Finance| 81000|
|         13|    Mia| Marketing| 71000|
|         14| Nathan|        IT| 94000|
|         15| Olivia|        HR| 65000|
|         16|   Paul|   Finance| 88000|
|         17|  Quinn| Marketing| 79000|
|         18|   Ryan|Operations| 85000|
|         19| Sophia|        IT| 92000|
|         20|    Tom|        HR| 70000|
+-----------+-------+----------+------+
only showing top 20 rows

In [7]:
#Show the schema
df_employee_data.printSchema()

root
 |-- employee_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

In [8]:
#first 5 rows
df_employee_data.head(5)

[Row(employee_id=1, name='Alice', department='IT', salary=75000),
 Row(employee_id=2, name='Bob', department='HR', salary=68000),
 Row(employee_id=3, name='Charlie', department='Finance', salary=82000),
 Row(employee_id=4, name='David', department='Marketing', salary=72000),
 Row(employee_id=5, name='Emma', department='IT', salary=90000)]

In [9]:
#Count the number of rows.
df_employee_data.count()

50

In [15]:
df_employee_data.select(df_employee_data["department"]).show()

+----------+
|department|
+----------+
|        IT|
|        HR|
|   Finance|
| Marketing|
|        IT|
|        HR|
|   Finance|
| Marketing|
|Operations|
|        IT|
|        HR|
|   Finance|
| Marketing|
|        IT|
|        HR|
|   Finance|
| Marketing|
|Operations|
|        IT|
|        HR|
+----------+
only showing top 20 rows

In [27]:
df_employee_data.select("department").distinct().show(10)

+----------+
|department|
+----------+
|   Finance|
| Marketing|
|        IT|
|Operations|
|        HR|
+----------+

In [28]:
df_employee_data.select("department").distinct().count()

5

In [29]:
from pyspark.sql.functions import col

In [39]:
# Find all employees in the "IT" department.
df_employee_data.select("employee_id","name","department","salary").filter(col("department") == "IT").show(2)

+-----------+-----+----------+------+
|employee_id| name|department|salary|
+-----------+-----+----------+------+
|          1|Alice|        IT| 75000|
|          5| Emma|        IT| 90000|
+-----------+-----+----------+------+
only showing top 2 rows

In [40]:
df_employee_data.select("name","department","salary").filter((col("department") == "IT") | (col("department") == "Finance") ).head(2)

[Row(name='Alice', department='IT', salary=75000),
 Row(name='Charlie', department='Finance', salary=82000)]

In [43]:
 #Find employees earning more than $50,000.
df_employee_data.filter(col("salary") > 50000).head(5)

[Row(employee_id=1, name='Alice', department='IT', salary=75000),
 Row(employee_id=2, name='Bob', department='HR', salary=68000),
 Row(employee_id=3, name='Charlie', department='Finance', salary=82000),
 Row(employee_id=4, name='David', department='Marketing', salary=72000),
 Row(employee_id=5, name='Emma', department='IT', salary=90000)]

In [51]:
df_employee_data.filter(col("salary") > 50000).filter(col("name").like("A%")).head(5)

[Row(employee_id=1, name='Alice', department='IT', salary=75000),
 Row(employee_id=27, name='Adam', department='Marketing', salary=78000)]

In [53]:
# Find employees whose name starts with "A".
#result_df = df.filter(col("name").like("%A%"))
# result_df = df.filter(col("name").rlike("[Aa]"))
df_employee_data.filter(col("name").rlike("[A]")).head(5)

[Row(employee_id=1, name='Alice', department='IT', salary=75000),
 Row(employee_id=27, name='Adam', department='Marketing', salary=78000)]

In [64]:

#Add a new column called "bonus" which is 10% of salary.
df_employee_data = df_employee_data.withColumn("bonus",col("salary") * 0.1)

In [66]:
df_employee_data.head(5)

[Row(employee_id=1, name='Alice', department='IT', salary=75000, bonus=7500.0),
 Row(employee_id=2, name='Bob', department='HR', salary=68000, bonus=6800.0),
 Row(employee_id=3, name='Charlie', department='Finance', salary=82000, bonus=8200.0),
 Row(employee_id=4, name='David', department='Marketing', salary=72000, bonus=7200.0),
 Row(employee_id=5, name='Emma', department='IT', salary=90000, bonus=9000.0)]

In [70]:
df_employee_data = df_employee_data.withColumnRenamed("salary","base_salary")

In [71]:
df_employee_data.printSchema()

root
 |-- employee_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- base_salary: long (nullable = true)
 |-- bonus: double (nullable = true)

In [72]:
df_employee_data.head(5)

[Row(employee_id=1, name='Alice', department='IT', base_salary=75000, bonus=7500.0),
 Row(employee_id=2, name='Bob', department='HR', base_salary=68000, bonus=6800.0),
 Row(employee_id=3, name='Charlie', department='Finance', base_salary=82000, bonus=8200.0),
 Row(employee_id=4, name='David', department='Marketing', base_salary=72000, bonus=7200.0),
 Row(employee_id=5, name='Emma', department='IT', base_salary=90000, bonus=9000.0)]

In [73]:
df_employee_data.drop("bonus").show(2)

+-----------+-----+----------+-----------+
|employee_id| name|department|base_salary|
+-----------+-----+----------+-----------+
|          1|Alice|        IT|      75000|
|          2|  Bob|        HR|      68000|
+-----------+-----+----------+-----------+
only showing top 2 rows

In [ ]:

Add a new column called "bonus" which is 10% of salary.
Rename the "salary" column to "base_salary".
Drop the "bonus" column.

Column Operations:

    
    Rename the "salary" column to "base_salary".
    Drop the "bonus" column.