In [ ]:
%run ../common.ipynb

In [ ]:
pip install faker

In [1]:
from pyspark.sql import SparkSession
from faker import Faker
import random

# Initialize Spark Session with MySQL JDBC Driver
spark = SparkSession.builder.appName("load_operation_data") \
    .config("spark.jars.packages", "mysql:mysql-connector-java:8.0.33") \
    .getOrCreate()

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/home/glue_user/spark/jars/log4j-slf4j-impl-2.17.2.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/home/glue_user/spark/jars/slf4j-reload4j-1.7.36.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/home/glue_user/aws-glue-libs/jars/log4j-slf4j-impl-2.17.2.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/home/glue_user/aws-glue-libs/jars/slf4j-reload4j-1.7.36.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See http://www.slf4j.org/codes.html#multiple_bindings for an explanation.
SLF4J: Actual binding is of type [org.apache.logging.slf4j.Log4jLoggerFactory]

:: loading settings :: url = jar:file:/home/glue_user/spark/jars/ivy-2.5.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/glue_user/.ivy2/cache
The jars for the packages stored in: /home/glue_user/.ivy2/jars
mysql#mysql-connector-java added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-32e69753-d2c5-46c5-8f9d-1b80fc4dd0c2;1.0
	confs: [default]
mysql#mysql-connector-java;8.0.33 is relocated to com.mysql#mysql-connector-j;8.0.33. Please update your dependencies.
	found mysql#mysql-connector-java;8.0.33 in central
	found com.mysql#mysql-connector-j;8.0.33 in central
	found com.google.protobuf#protobuf-java;3.21.9 in central
downloading https://repo1.maven.org/maven2/com/mysql/mysql-connector-j/8.0.33/mysql-connector-j-8.0.33.jar ...
	[SUCCESSFUL ] com.mysql#mysql-connector-j;8.0.33!mysql-connector-j.jar (1595ms)
downloading https://repo1.maven.org/maven2/com/google/protobuf/protobuf-java/3.21.9/protobuf-java-3.21.9.jar ...
	[SUCCESSFUL ] com.google.protobuf#protobuf-java;3.21.9!protobuf-java.jar(bundle) (632ms)
:: resolution report :: resolve 6056ms :: artifacts dl 2233ms
	:: modules in use:
	com.google.protobuf#protobuf-java;3.21.9 from central in [default]
	com.mysql#mysql-connector-j;8.0.33 from central in [default]
	mysql#mysql-connector-java;8.0.33 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   3   |   3   |   3   |   0   ||   2   |   2   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-32e69753-d2c5-46c5-8f9d-1b80fc4dd0c2
	confs: [default]
	2 artifacts copied, 0 already retrieved (4055kB/37ms)
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
# Initialize Faker for realistic data
fake = Faker()

# Generate Customers
def generate_customers(n):
    return spark.createDataFrame(
        [(i, fake.first_name(), fake.last_name(), fake.email(), fake.phone_number(),
          fake.address(), fake.city(), fake.state(), fake.zipcode(), fake.country()) 
         for i in range(1, n+1)], 
        ["customer_id", "first_name", "last_name", "email", "phone", "address", "city", "state", "zip_code", "country"]
    )

In [4]:
# Generate Data
customers_df = generate_customers(10000)
customers_df.show()

+-----------+----------+---------+--------------------+--------------------+--------------------+-----------------+-------------+--------+----------------+
|customer_id|first_name|last_name|               email|               phone|             address|             city|        state|zip_code|         country|
+-----------+----------+---------+--------------------+--------------------+--------------------+-----------------+-------------+--------+----------------+
|          1|    Travis|     Long| randy93@example.net|  794.506.4087x24293|9032 Fitzgerald A...|        Lake Mark|     Nebraska|   94426|          Rwanda|
|          2|     Karen|    White|sarahmccullough@e...|+1-315-601-2749x7...|7159 Dennis Commo...|      Meaganmouth|West Virginia|   41653|     Puerto Rico|
|          3|     Kelly|    Baker|goodtammy@example...|     +1-974-603-9525|90282 Richard Gar...|       West Marie|      Florida|   69525|       Singapore|
|          4|    Justin|    Gibbs|steven73@example.com|001-471-802-2684x...|106 Christina Ter...|North Raymondside|   Washington|   98987|           Chile|
|          5|   Tiffany| Castillo|torresphilip@exam...|          9108870094|66392 Scott Trace...|      Natalieside|    Louisiana|   41800|         Lebanon|
|          6|   Richard|  English|  zbanks@example.com|   (265)379-2291x854|2931 Spears Walk\...|   North Janefort|     Arkansas|   28876|         Algeria|
|          7|     Nancy|     Dunn|melissa26@example...|     +1-245-227-0312|5406 Michael Road...|       Shawnburgh|  Mississippi|   21122|        Anguilla|
|          8|      Lisa|  Johnson|popeshane@example...|        678-566-4253|0341 Blackwell Is...|    East Jennifer|      Georgia|   27767|          Cyprus|
|          9|     David|    Simon|maryortiz@example...|  (482)991-7008x1147|5014 Ramos Ridges...|    Port Seanport|     Maryland|   95543|        Guernsey|
|         10|     James|   Rivera|palmercrystal@exa...|    880.660.9777x191|146 Colin Skyway\...|  Port Maxchester|New Hampshire|   28595|Marshall Islands|
|         11|     Laura| Mitchell|jennifer82@exampl...|+1-565-839-1297x8354|68232 Benjamin Is...|    Lake Mistyton|  Mississippi|   40498|        Barbados|
|         12|  Jennifer|   Miller|  hpetty@example.org|  (458)232-9711x9115|03209 Ricky Loaf\...|      Bradfordton| South Dakota|   54076|            Iraq|
|         13|    Hailey|    Jones|kathleen08@exampl...|+1-743-529-3930x1...|6389 Emily Isle\n...|         Halltown|        Idaho|   68142|        Malaysia|
|         14|    Gerald| Davidson|elizabethdavila@e...|       (619)564-9764|90418 Mcdonald Pl...|  South Bettystad|New Hampshire|   28850|         Comoros|
|         15|  Danielle|    Clark|tylersherri@examp...|        953-865-1862|228 Rodriguez Gre...|        Walshview|    Louisiana|   67377|           Congo|
|         16|  Jonathan|    Olson|robert89@example.com|001-414-594-3058x...|75072 Casey Brook...|   North Annabury|    Minnesota|   62906|      Cape Verde|
|         17|   Valerie|    Gomez|daniellegarcia@ex...|    912-870-3865x625|86501 Mark Island...|Lake Timothyshire|     Arkansas|   18752|        Cambodia|
|         18|    Thomas|  Walters|nicole96@example.org|    001-946-930-5883|43949 Angela Lock...|     Port Barbara|West Virginia|   14370|     Philippines|
|         19|    Teresa|Armstrong|anthonynorris@exa...|          9929222232|1371 Kevin Trail\...|       Karenmouth|     Nebraska|   07152|      Azerbaijan|
|         20|   William|    Perry|thomaslori@exampl...|  689.275.4845x89859|594 Moran Burgs A...|       North Adam|       Alaska|   58794|     Timor-Leste|
+-----------+----------+---------+--------------------+--------------------+--------------------+-----------------+-------------+--------+----------------+
only showing top 20 rows

In [ ]:





# Generate Products
def generate_products(n):
    categories = ["Electronics", "Clothing", "Home & Kitchen", "Books", "Toys", "Sports"]
    return spark.createDataFrame(
        [(i, fake.word().capitalize(), fake.sentence(nb_words=6), 
          random.choice(categories), round(random.uniform(5, 500), 2), random.randint(10, 1000)) 
         for i in range(1, n+1)], 
        ["product_id", "name", "description", "category", "price", "stock_quantity"]
    )




# Generate Payments
def generate_payments(n, max_order_id):
    return spark.createDataFrame(
        [(i, random.randint(1, max_order_id), fake.date_this_decade(), 
          random.choice(["Credit Card", "PayPal", "Gift Card", "Bank Transfer"]), 
          round(random.uniform(10, 500), 2), random.choice(["Success", "Failed", "Pending"])) 
         for i in range(1, n+1)], 
        ["payment_id", "order_id", "payment_date", "payment_method", "amount", "status"]
    )

# Generate Purchase History
def generate_purchase_history(n, max_customer_id, max_order_id):
    return spark.createDataFrame(
        [(i, random.randint(1, max_customer_id), random.randint(1, max_order_id), 
          fake.date_this_decade(), round(random.uniform(10, 500), 2)) 
         for i in range(1, n+1)], 
        ["history_id", "customer_id", "order_id", "purchase_date", "amount_spent"]
    )

# Generate Usage History
def generate_usage_history(n, max_customer_id, max_product_id):
    return spark.createDataFrame(
        [(i, random.randint(1, max_customer_id), random.randint(1, max_product_id), 
          fake.date_this_decade(), fake.sentence(nb_words=10), 
          random.choice(["Returned", "Not Returned"])) 
         for i in range(1, n+1)], 
        ["usage_id", "customer_id", "product_id", "usage_date", "feedback", "return_status"]
    )

# Generate Transactions
def generate_transactions(n, max_customer_id, max_order_id, max_payment_id):
    return spark.createDataFrame(
        [(i, random.randint(1, max_customer_id), random.randint(1, max_order_id), 
          random.randint(1, max_payment_id), fake.date_this_decade(), 
          round(random.uniform(10, 500), 2), random.choice(["Purchase", "Refund"]), 
          random.choice(["Completed", "Failed", "Pending"])) 
         for i in range(1, n+1)], 
        ["transaction_id", "customer_id", "order_id", "payment_id", "transaction_date", 
         "amount", "transaction_type", "status"]
    )

In [ ]:
# Remove duplicate emails before writing to MySQL
customers_df = customers_df.dropDuplicates(["email"])

customers_df.write.jdbc(url=USER_MYSQL_URL, table="Customers", mode="append", properties=MYSQL_PROPERTIES)

print("✅ Data successfully written to MySQL!")

In [ ]:
products_df = generate_products(1000)

products_df.write.jdbc(url=PRODUCT_MYSQL_URL, table="Products", mode="append", properties=MYSQL_PROPERTIES)

In [ ]:

customers_df = spark.read.jdbc(url=USER_MYSQL_URL, table="Customers", properties=MYSQL_PROPERTIES)

valid_customer_ids = [row["customer_id"] for row in customers_df.select("customer_id").collect()]

# ✅ Generate Orders using only valid customer IDs
def generate_orders(n):
    return spark.createDataFrame(
        [(i, random.choice(valid_customer_ids), fake.date_this_decade(), 
          random.choice(["Pending", "Shipped", "Delivered", "Cancelled"]), 
          round(random.uniform(10, 500), 2)) 
         for i in range(1, n+1)], 
        ["order_id", "customer_id", "order_date", "status", "total_amount"]
    )

orders_df = generate_orders(100000)
orders_df.show()

In [ ]:

orders_df.write.jdbc(url=ORDER_MYSQL_URL, table="Orders", mode="append", properties=MYSQL_PROPERTIES)

In [ ]:

#orders_df.write.jdbc(url=MYSQL_URL, table="Orders", mode="append", properties=MYSQL_PROPERTIES)

orders_df = spark.read.jdbc(url=ORDER_MYSQL_URL, table="Orders", properties=MYSQL_PROPERTIES)
products_df = spark.read.jdbc(url=PRODUCT_MYSQL_URL, table="Products", properties=MYSQL_PROPERTIES)
valid_order_ids = [row["order_id"] for row in orders_df.select("order_id").collect()]
valid_product_ids = [row["product_id"] for row in products_df.select("product_id").collect()]
valid_customer_ids = [row["customer_id"] for row in customers_df.select("customer_id").collect()]
# ✅ Generate Order Items using only valid order_id & product_id
def generate_order_items(n):
    return spark.createDataFrame(
        [(i, random.choice(valid_order_ids), random.choice(valid_product_ids), 
          random.randint(1, 5), round(random.uniform(5, 500), 2)) 
         for i in range(1, n+1)], 
        ["order_item_id", "order_id", "product_id", "quantity", "unit_price"]
    )
order_items_df = generate_order_items(100000)
order_items_df.write.jdbc(url=ORDER_MYSQL_URL, table="Order_Items", mode="append", properties=MYSQL_PROPERTIES)

In [ ]:
# Generate Payments
def generate_payments(n):
    return spark.createDataFrame(
        [(i,random.choice(valid_order_ids), fake.date_this_decade(), 
          random.choice(["Credit Card", "PayPal", "Gift Card", "Bank Transfer"]), 
          round(random.uniform(10, 500), 2), random.choice(["Success", "Failed", "Pending"])) 
         for i in range(1, n+1)], 
        ["payment_id", "order_id", "payment_date", "payment_method", "amount", "status"]
    )
payments_df = generate_payments(10000)
valid_payments_ids = [row["payment_id"] for row in payments_df.select("payment_id").collect()]

# Generate Purchase History
def generate_purchase_history(n):
    return spark.createDataFrame(
        [(i,random.choice(valid_customer_ids), random.choice(valid_order_ids), 
          fake.date_this_decade(), round(random.uniform(10, 500), 2)) 
         for i in range(1, n+1)], 
        ["history_id", "customer_id", "order_id", "purchase_date", "amount_spent"]
    )

payments_df.write.jdbc(url=ORDER_MYSQL_URL, table="Payments", mode="append", properties=MYSQL_PROPERTIES)
purchase_history_df = generate_purchase_history(1000)
purchase_history_df.distinct().write.jdbc(url=ORDER_MYSQL_URL, table="Purchase_History", mode="append", properties=MYSQL_PROPERTIES)

In [ ]:

# Generate Usage History
def generate_usage_history(n):
    return spark.createDataFrame(
        [(i,random.choice(valid_customer_ids),random.choice(valid_product_ids),fake.date_this_decade(), fake.sentence(nb_words=10), 
          random.choice(["Returned", "Not Returned"])) 
         for i in range(1, n+1)], 
        ["usage_id", "customer_id", "product_id", "usage_date", "feedback", "return_status"]
    )

# Generate Transactions
def generate_transactions(n,):
    return spark.createDataFrame(
        [(i, random.choice(valid_customer_ids), random.choice(valid_order_ids), 
          random.choice(valid_payments_ids), fake.date_this_decade(), 
          round(random.uniform(10, 500), 2), random.choice(["Purchase", "Refund"]), 
          random.choice(["Completed", "Failed", "Pending"])) 
         for i in range(1, n+1)], 
        ["transaction_id", "customer_id", "order_id", "payment_id", "transaction_date", 
         "amount", "transaction_type", "status"]
    )
usage_history_df = generate_usage_history(1000)
usage_history_df.distinct().write.jdbc(url=ORDER_MYSQL_URL, table="Usage_History", mode="append", properties=MYSQL_PROPERTIES)

transactions_df = generate_transactions(1000)
transactions_df.distinct().write.jdbc(url=ORDER_MYSQL_URL, table="Transactions", mode="append", properties=MYSQL_PROPERTIES)

print("✅ Data successfully written to MySQL!")

In [ ]:
from pyspark.sql.functions import when,rand,lit
# Generate random login data
def generate_logins(customers_df, num_attempts=50):
    logins = []
    for row in customers_df.collect():
        customer_id = row["customer_id"]
        num_logins = random.randint(1, num_attempts)  # Random login attempts per customer
        
        for _ in range(num_logins):
            ip = f"192.168.{random.randint(0, 255)}.{random.randint(0, 255)}"
            login_attempt = random.choice(["SUCCESS", "FAILURE"])
            login_date = f"2024-02-{random.randint(1, 28)}"
            
            logins.append((customer_id, ip, login_attempt, login_date))
    
    return logins

# Generate synthetic login data
login_data = generate_logins(customers_df)

# Create DataFrame
columns = ["customer_id", "ip_address", "login_attempt", "login_date"]
login_df = spark.createDataFrame(login_data, columns)

# Introduce suspicious activity (customers with >3 IPs or >10 attempts)
login_df = login_df.withColumn("is_suspicious", when((rand() < 0.2), lit(1)).otherwise(lit(0)))

# Write to MySQL (optional)
login_df.write.jdbc(url=USER_MYSQL_URL, table="LoginHistory", mode="append", properties=MYSQL_PROPERTIES)

# Show result
login_df.show()