In [1]:
%run ../common.ipynb

In [2]:
pip install faker

Defaulting to user installation because normal site-packages is not writeable
Collecting faker
  Downloading faker-37.0.0-py3-none-any.whl (1.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 8.3 MB/s eta 0:00:00a 0:00:01
Collecting tzdata
  Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.8/346.8 kB 9.2 MB/s eta 0:00:00a 0:00:01
Installing collected packages: tzdata, faker
Successfully installed faker-37.0.0 tzdata-2025.1

[notice] A new release of pip is available: 23.0.1 -> 25.0.1
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
from pyspark.sql import SparkSession
from faker import Faker
import random

# Initialize Spark Session with MySQL JDBC Driver
spark = SparkSession.builder.appName("load_operation_data") \
    .config("spark.jars.packages", "mysql:mysql-connector-java:8.0.33") \
    .getOrCreate()

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/home/glue_user/spark/jars/log4j-slf4j-impl-2.17.2.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/home/glue_user/spark/jars/slf4j-reload4j-1.7.36.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/home/glue_user/aws-glue-libs/jars/log4j-slf4j-impl-2.17.2.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/home/glue_user/aws-glue-libs/jars/slf4j-reload4j-1.7.36.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See http://www.slf4j.org/codes.html#multiple_bindings for an explanation.
SLF4J: Actual binding is of type [org.apache.logging.slf4j.Log4jLoggerFactory]

:: loading settings :: url = jar:file:/home/glue_user/spark/jars/ivy-2.5.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/glue_user/.ivy2/cache
The jars for the packages stored in: /home/glue_user/.ivy2/jars
mysql#mysql-connector-java added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-1e0662d5-5dba-4a1c-ae58-cefd0be03cbe;1.0
	confs: [default]
mysql#mysql-connector-java;8.0.33 is relocated to com.mysql#mysql-connector-j;8.0.33. Please update your dependencies.
	found mysql#mysql-connector-java;8.0.33 in central
	found com.mysql#mysql-connector-j;8.0.33 in central
	found com.google.protobuf#protobuf-java;3.21.9 in central
downloading https://repo1.maven.org/maven2/com/mysql/mysql-connector-j/8.0.33/mysql-connector-j-8.0.33.jar ...
	[SUCCESSFUL ] com.mysql#mysql-connector-j;8.0.33!mysql-connector-j.jar (1620ms)
downloading https://repo1.maven.org/maven2/com/google/protobuf/protobuf-java/3.21.9/protobuf-java-3.21.9.jar ...
	[SUCCESSFUL ] com.google.protobuf#protobuf-java;3.21.9!protobuf-java.jar(bundle) (520ms)
:: resolution report :: resolve 6007ms :: artifacts dl 2145ms
	:: modules in use:
	com.google.protobuf#protobuf-java;3.21.9 from central in [default]
	com.mysql#mysql-connector-j;8.0.33 from central in [default]
	mysql#mysql-connector-java;8.0.33 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   3   |   3   |   3   |   0   ||   2   |   2   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-1e0662d5-5dba-4a1c-ae58-cefd0be03cbe
	confs: [default]
	2 artifacts copied, 0 already retrieved (4055kB/15ms)
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [4]:
# Initialize Faker for realistic data
fake = Faker()

# Generate Customers
def generate_customers(n):
    return spark.createDataFrame(
        [(i, fake.first_name(), fake.last_name(), fake.email(), fake.phone_number(),
          fake.address(), fake.city(), fake.state(), fake.zipcode(), fake.country()) 
         for i in range(1, n+1)], 
        ["customer_id", "first_name", "last_name", "email", "phone", "address", "city", "state", "zip_code", "country"]
    )

In [5]:
# Generate Data
customers_df = generate_customers(10000)
customers_df.show()

+-----------+-----------+---------+--------------------+--------------------+--------------------+-----------------+--------------+--------+--------------------+
|customer_id| first_name|last_name|               email|               phone|             address|             city|         state|zip_code|             country|
+-----------+-----------+---------+--------------------+--------------------+--------------------+-----------------+--------------+--------+--------------------+
|          1|     Alyssa| Anderson|   rking@example.net|   498-863-7106x3591|1729 King Inlet S...|East Williamville|     Minnesota|   56790|               Japan|
|          2|  Christine|  Jackson|smithcheryl@examp...|        392.695.3629|07003 William Spu...|      West Andrew|     Tennessee|   55395|              Jordan|
|          3|      Chloe|    Ramos|william25@example...|+1-887-594-7524x8...|474 David Light\n...| East Howardmouth|North Carolina|   09707|               Nepal|
|          4|   Brittany| Guerrero|albert51@example.com|    871-843-7144x251|01709 Shane Inlet...|    South Jessica|      Oklahoma|   00941|              Turkey|
|          5|     Joseph|   Nelson|jennifer35@exampl...|   (740)275-1069x085|6074 Wilson Route...|         Susanton|        Oregon|   84225|     Kyrgyz Republic|
|          6|      James|    Brown|sanchezangela@exa...|     +1-554-740-5076|60705 Jackson Isl...| West Jessicafort|     Louisiana|   16730|                Cuba|
|          7|      James|  Mathews|  lisa25@example.org|   (791)632-9863x950|94511 Johnson Bri...|      Arroyoburgh|         Maine|   49535|              Cyprus|
|          8|Christopher| Mccarthy|henrycannon@examp...|       (304)980-2495|7657 Cordova Mall...|        South Joy|South Carolina|   72293|                Iraq|
|          9|     Daniel|   Bryant|amandapace@exampl...| (526)407-9870x87604|USCGC Fields\nFPO...|    Lake Jonathan|     Louisiana|   08981|          Uzbekistan|
|         10|    Jasmine|   Parker|nicole81@example.org|    001-512-783-3604|3684 Vargas Overp...|          Wuburgh|          Iowa|   80826|                Niue|
|         11|     Karina|   Fowler|ortizkathy@exampl...|   (740)916-8420x254|PSC 6646, Box 298...|        Patelbury|      Kentucky|   74884|Netherlands Antilles|
|         12|      Oscar|  Schmidt|   tcook@example.org|  355-289-3357x68210|15004 Wesley Lodg...|  Lake Frankhaven|  Pennsylvania|   68230|                Peru|
|         13|     Ashley|  Hensley| tcarson@example.net|001-671-321-3449x...|PSC 7116, Box 844...|   Christopherton|       Arizona|   57161|             Ukraine|
|         14|     Steven| Martinez|samantha47@exampl...|       (962)443-9421|75934 Walker Caus...|      Matthewbury|       Montana|   79189|               Italy|
|         15|    Matthew|  Aguilar|patriciawalsh@exa...|        915.700.3400|13304 Long Estate...|       North John|    New Mexico|   94904|               Congo|
|         16|Christopher|   Cooper| kfarmer@example.com|        556-348-1212|675 Rose Crossroa...| Port Robertburgh|        Alaska|   26665|           Greenland|
|         17|      Jason|   Steele|jeremiah55@exampl...|+1-857-201-6946x1471|PSC 9459, Box 283...|    Figueroamouth|      Colorado|   64277|         New Zealand|
|         18|    Kenneth|  Estrada|garycastaneda@exa...|  222-992-3530x64758|7522 Weber Prairi...|       Davidshire|        Nevada|   47231|         Saint Lucia|
|         19|        Amy|    Perez|rfischer@example.net|        818-338-9974|438 Smith Parkway...|   Lake Elizabeth|      Delaware|   40444|              Latvia|
|         20|    Sabrina|   Harper|jessica99@example...|          7329953685|643 Smith Lane Su...|    Bartlettshire|South Carolina|   77480|                Chad|
+-----------+-----------+---------+--------------------+--------------------+--------------------+-----------------+--------------+--------+--------------------+
only showing top 20 rows

In [6]:
# Remove duplicate emails before writing to MySQL
customers_df = customers_df.dropDuplicates(["email"])

customers_df.write.jdbc(url=USER_MYSQL_URL, table="Customers", mode="append", properties=MYSQL_PROPERTIES)

print("✅ Data successfully written to MySQL!")

✅ Data successfully written to MySQL!

In [7]:





# Generate Products
def generate_products(n):
    categories = ["Electronics", "Clothing", "Home & Kitchen", "Books", "Toys", "Sports"]
    return spark.createDataFrame(
        [(i, fake.word().capitalize(), fake.sentence(nb_words=6), 
          random.choice(categories), round(random.uniform(5, 500), 2), random.randint(10, 1000)) 
         for i in range(1, n+1)], 
        ["product_id", "name", "description", "category", "price", "stock_quantity"]
    )




# Generate Payments
def generate_payments(n, max_order_id):
    return spark.createDataFrame(
        [(i, random.randint(1, max_order_id), fake.date_this_decade(), 
          random.choice(["Credit Card", "PayPal", "Gift Card", "Bank Transfer"]), 
          round(random.uniform(10, 500), 2), random.choice(["Success", "Failed", "Pending"])) 
         for i in range(1, n+1)], 
        ["payment_id", "order_id", "payment_date", "payment_method", "amount", "status"]
    )

# Generate Purchase History
def generate_purchase_history(n, max_customer_id, max_order_id):
    return spark.createDataFrame(
        [(i, random.randint(1, max_customer_id), random.randint(1, max_order_id), 
          fake.date_this_decade(), round(random.uniform(10, 500), 2)) 
         for i in range(1, n+1)], 
        ["history_id", "customer_id", "order_id", "purchase_date", "amount_spent"]
    )

# Generate Usage History
def generate_usage_history(n, max_customer_id, max_product_id):
    return spark.createDataFrame(
        [(i, random.randint(1, max_customer_id), random.randint(1, max_product_id), 
          fake.date_this_decade(), fake.sentence(nb_words=10), 
          random.choice(["Returned", "Not Returned"])) 
         for i in range(1, n+1)], 
        ["usage_id", "customer_id", "product_id", "usage_date", "feedback", "return_status"]
    )

# Generate Transactions
def generate_transactions(n, max_customer_id, max_order_id, max_payment_id):
    return spark.createDataFrame(
        [(i, random.randint(1, max_customer_id), random.randint(1, max_order_id), 
          random.randint(1, max_payment_id), fake.date_this_decade(), 
          round(random.uniform(10, 500), 2), random.choice(["Purchase", "Refund"]), 
          random.choice(["Completed", "Failed", "Pending"])) 
         for i in range(1, n+1)], 
        ["transaction_id", "customer_id", "order_id", "payment_id", "transaction_date", 
         "amount", "transaction_type", "status"]
    )

In [8]:
products_df = generate_products(1000)

products_df.write.jdbc(url=PRODUCT_MYSQL_URL, table="Products", mode="append", properties=MYSQL_PROPERTIES)

In [9]:

customers_df = spark.read.jdbc(url=USER_MYSQL_URL, table="Customers", properties=MYSQL_PROPERTIES)

valid_customer_ids = [row["customer_id"] for row in customers_df.select("customer_id").collect()]

# ✅ Generate Orders using only valid customer IDs
def generate_orders(n):
    return spark.createDataFrame(
        [(i, random.choice(valid_customer_ids), fake.date_this_decade(), 
          random.choice(["Pending", "Shipped", "Delivered", "Cancelled"]), 
          round(random.uniform(10, 500), 2)) 
         for i in range(1, n+1)], 
        ["order_id", "customer_id", "order_date", "status", "total_amount"]
    )

orders_df = generate_orders(100000)
orders_df.show()

IndexError: list index out of range

In [ ]:

orders_df.write.jdbc(url=ORDER_MYSQL_URL, table="Orders", mode="append", properties=MYSQL_PROPERTIES)

In [ ]:

#orders_df.write.jdbc(url=MYSQL_URL, table="Orders", mode="append", properties=MYSQL_PROPERTIES)

orders_df = spark.read.jdbc(url=ORDER_MYSQL_URL, table="Orders", properties=MYSQL_PROPERTIES)
products_df = spark.read.jdbc(url=PRODUCT_MYSQL_URL, table="Products", properties=MYSQL_PROPERTIES)
valid_order_ids = [row["order_id"] for row in orders_df.select("order_id").collect()]
valid_product_ids = [row["product_id"] for row in products_df.select("product_id").collect()]
valid_customer_ids = [row["customer_id"] for row in customers_df.select("customer_id").collect()]
# ✅ Generate Order Items using only valid order_id & product_id
def generate_order_items(n):
    return spark.createDataFrame(
        [(i, random.choice(valid_order_ids), random.choice(valid_product_ids), 
          random.randint(1, 5), round(random.uniform(5, 500), 2)) 
         for i in range(1, n+1)], 
        ["order_item_id", "order_id", "product_id", "quantity", "unit_price"]
    )
order_items_df = generate_order_items(100000)
order_items_df.write.jdbc(url=ORDER_MYSQL_URL, table="Order_Items", mode="append", properties=MYSQL_PROPERTIES)

In [ ]:
# Generate Payments
def generate_payments(n):
    return spark.createDataFrame(
        [(i,random.choice(valid_order_ids), fake.date_this_decade(), 
          random.choice(["Credit Card", "PayPal", "Gift Card", "Bank Transfer"]), 
          round(random.uniform(10, 500), 2), random.choice(["Success", "Failed", "Pending"])) 
         for i in range(1, n+1)], 
        ["payment_id", "order_id", "payment_date", "payment_method", "amount", "status"]
    )
payments_df = generate_payments(10000)
valid_payments_ids = [row["payment_id"] for row in payments_df.select("payment_id").collect()]

# Generate Purchase History
def generate_purchase_history(n):
    return spark.createDataFrame(
        [(i,random.choice(valid_customer_ids), random.choice(valid_order_ids), 
          fake.date_this_decade(), round(random.uniform(10, 500), 2)) 
         for i in range(1, n+1)], 
        ["history_id", "customer_id", "order_id", "purchase_date", "amount_spent"]
    )

payments_df.write.jdbc(url=ORDER_MYSQL_URL, table="Payments", mode="append", properties=MYSQL_PROPERTIES)
purchase_history_df = generate_purchase_history(1000)
purchase_history_df.distinct().write.jdbc(url=ORDER_MYSQL_URL, table="Purchase_History", mode="append", properties=MYSQL_PROPERTIES)

In [ ]:

# Generate Usage History
def generate_usage_history(n):
    return spark.createDataFrame(
        [(i,random.choice(valid_customer_ids),random.choice(valid_product_ids),fake.date_this_decade(), fake.sentence(nb_words=10), 
          random.choice(["Returned", "Not Returned"])) 
         for i in range(1, n+1)], 
        ["usage_id", "customer_id", "product_id", "usage_date", "feedback", "return_status"]
    )

# Generate Transactions
def generate_transactions(n,):
    return spark.createDataFrame(
        [(i, random.choice(valid_customer_ids), random.choice(valid_order_ids), 
          random.choice(valid_payments_ids), fake.date_this_decade(), 
          round(random.uniform(10, 500), 2), random.choice(["Purchase", "Refund"]), 
          random.choice(["Completed", "Failed", "Pending"])) 
         for i in range(1, n+1)], 
        ["transaction_id", "customer_id", "order_id", "payment_id", "transaction_date", 
         "amount", "transaction_type", "status"]
    )
usage_history_df = generate_usage_history(1000)
usage_history_df.distinct().write.jdbc(url=ORDER_MYSQL_URL, table="Usage_History", mode="append", properties=MYSQL_PROPERTIES)

transactions_df = generate_transactions(1000)
transactions_df.distinct().write.jdbc(url=ORDER_MYSQL_URL, table="Transactions", mode="append", properties=MYSQL_PROPERTIES)

print("✅ Data successfully written to MySQL!")

In [ ]:
from pyspark.sql.functions import when,rand,lit
# Generate random login data
def generate_logins(customers_df, num_attempts=50):
    logins = []
    for row in customers_df.collect():
        customer_id = row["customer_id"]
        num_logins = random.randint(1, num_attempts)  # Random login attempts per customer
        
        for _ in range(num_logins):
            ip = f"192.168.{random.randint(0, 255)}.{random.randint(0, 255)}"
            login_attempt = random.choice(["SUCCESS", "FAILURE"])
            login_date = f"2024-02-{random.randint(1, 28)}"
            
            logins.append((customer_id, ip, login_attempt, login_date))
    
    return logins

# Generate synthetic login data
login_data = generate_logins(customers_df)

# Create DataFrame
columns = ["customer_id", "ip_address", "login_attempt", "login_date"]
login_df = spark.createDataFrame(login_data, columns)

# Introduce suspicious activity (customers with >3 IPs or >10 attempts)
login_df = login_df.withColumn("is_suspicious", when((rand() < 0.2), lit(1)).otherwise(lit(0)))

# Write to MySQL (optional)
login_df.write.jdbc(url=USER_MYSQL_URL, table="LoginHistory", mode="append", properties=MYSQL_PROPERTIES)

# Show result
login_df.show()